* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
}

header nav ul li {
    display: inline-block;
    padding: 8px 16px;
    margin: 0px 4px;
}

header nav ul {
    list-style-type: none;
    padding-bottom: 30px;
}

header a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header a:visited {
    color: #fff;
    text-decoration: none;
}

header a:hover {
    color: #3498db;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

#SobreMim {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px auto;
    /* Spacing around the content */
    padding: 20px 0px 20px 0px;
    /* Internal spacing */
    border-bottom: 5px solid #2c3e50;
    /* Bottom border */
    background-color: #ecf0f1;
    /* Light background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Subtle shadow for depth */
    border-radius: 30px;
    /* Rounded corners */
    max-width: 60%;
    /* Responsive width */
}

main {
    padding: 0 20px;
}

main h2 {
    margin: 10px 0px;
}

#Educacao h2 {
    text-align: center;
    color: #2c3e50;
    border-bottom: 2px solid #2c3e50;
    max-width: 100%;
}

#Educacao table {
    text-align: left;
    font-family: Arial, sans-serif;
    margin: auto;
    border: #2c3e50 3px solid;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#Educacao caption {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}

#Educacao thead {
    background-color: #34495e;
    color: #fff;
}

#Educacao th,
#Educacao td {
    border: 2px solid #2c3e50;
    padding: 8px;
}

#Experiencia h2 {
    color: #2c3e50;
    border-bottom: 2px solid #2c3e50;
    max-width: 100%;
}

#Experiencia ul {
    list-style-type: none;
    padding-left: 2.8%;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
}

#Competencia h2 {
    color: #2c3e50;
    border-bottom: 2px solid #2c3e50;
    max-width: 100%;
}

#Competencia ul {
    list-style-type: none;
    padding-left: 2.8%;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
}

#Projetos h2 {
    color: #2c3e50;
    border-bottom: 2px solid #2c3e50;
    max-width: 100%;
}

#Projetos ul {
    list-style-type: none;
    padding-left: 2.8%;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
}

#video-container {
    text-align: center;
    margin: 20px 0;
}

#Glossario h2 {
    color: #2c3e50;
    border-bottom: 2px solid #2c3e50;
    max-width: 100%;
}

#Glossario dl {
    list-style-type: none;
    padding-left: 2.8%;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
}

#Glossario dt {
    font-weight: bold;
    margin-top: 10px;
}

#Glossario dd {
    margin-left: 20px;
    margin-bottom: 10px;
}

#Contacto {
    text-align: center;
    margin: 20px 0;
}

#Contacto a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

#Contacto a:hover {
    text-decoration: underline;
}

footer {
    background-color: #34495e;
    color: #fff;
    text-align: center;
    padding: 4px;
}