#body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#Consola {
    width: 40%;
    float: left;
    margin-right: 30px;
}

#img_consola img {
    height: 450px;
    width: 100%;
    float: left;
}

#Detalhes_da_Consola {
    float: left;
    margin-left: 30px;
}

#descontos {
    float: left;
}

#descontos img {
    width: 25px;
}