body {
    margin: 20px 10%;
    font-family: "Montserrat", sans-serif;
}

#esquerdo {
    width: 35%;
    float: left;
}

#esquerdo img {
    width: 100%;
}

.sessoes {
    background-color: #efefef;
    padding: 20px;
    margin-top: 25px;
    width: 394px;
}

.sessoes h3 {
    position: relative;
    font-size: 1.2em;
    font-weight: 900;
    padding-bottom: 10px;
}

.sessoes h3::after {
    content: " ";
    display: block;
    position: absolute;
    width: 60px;
    height: 3px;
    left: 0;
    bottom: 0;
    background-color: #24d9c3;
}

.sessoes p {
    font-family: "MontserratExtraBold", sans-serif;
    font-weight: bolder;
    font-size: 1.2em;
    line-height: 10px;
}

#direito {
    width: 60%;
    margin-left: 5%;
    float: right;
}

h1 {
    font-size: 3em;
    font-weight: 100;
    margin-bottom: 10px;
}

#detalhe {
    display: block;
    float: left;
    margin-top: 27px;
    border-top: solid 3px #24d9c3;
}

#data {
    display: inline-block;
    vertical-align: center;
    margin-right: 55px;
}

#data h2 {
    font-size: 2.5em;
    margin: 0;
}

#data h3 {
    font-size: 1.6em;
    font-weight: 400;
    margin: 0;
}

#bilhetes {
    background-image: url("../images/comprar_azul.png");
    background-position: 26px center;
    background-repeat: no-repeat;
    display: inline-block;
    font-weight: 600;
    font-size: 1.2em;
    letter-spacing: 1px;
    background-color: #24d9c3;
    color: black;
    border: solid 3px #24d9c3;
    text-decoration: none;
    border-radius: 5px;
    padding: 15px 15px 15px 64px;
    cursor: pointer;
}

#texto {
    align-self: justify;
    display: block;
    float: left;
    width: 100%;
    font-family: "Lato", sans-serif;
    line-height: 1.76em;
    font-size: 1.2em;
    color: #343434;
    margin-top: 10px;
}