#Ex1 table {
    text-align: center;
    margin: auto;
}

table tr td {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #2c9094;
    padding: 15px;
}

.image1 {
    width: 400px;
    height: 225px;
    border-radius: 15px;
}

.image2 {
    width: 400px;
    height: 225px;
    border-radius: 50%;
}

.image3 {
    border-radius: 4px;
    width: 200px;
    padding: 5px;
    border: 1px solid #1f6e68;
}

.image4 {
    border: 1px solid #1f6e68;
    border-radius: 4px;
    width: 200px;
    padding: 5px;
}

.image4:hover {
    color: #229c9c;
    transform: scale(1.1);
    transition: transform 0.3s;
}

.image5 {
    color: #229c9c;
    height: auto;
    max-width: 100%;
    display: block;
}

#Ex3 {
    color: #2c9094;
    text-align: center;
    margin: auto;
    padding: 20px;
}

.polaroid {
    display: inline-block;
    width: 250px;
    padding: 10px 10px 20px 10px;
    border: 1px solid #bfbfbf;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    margin: auto;
}

.polaroid img {
    width: 100%;
}

#Ex4 {
    color: #2c9094;
    text-align: center;
    margin: auto;
    padding: 20px;
}

.imagem_opacidade {
    color: #2c9094;
    margin: auto;
    display: inline-block;
    padding: 20px;
}

.image_op0_2 {
    width: 300px;
    opacity: 0.2;
}

.image_op0_5 {
    width: 300px;
    opacity: 0.5;
}

.image_op1 {
    width: 300px;
    opacity: 1;
}

#Ex5 {
    margin: auto;
    padding: 20px;
}

.filterTable img {
    text-align: center;
    margin: auto;
    width: 280px;
    height: 200px;
}

.blur {-webkit-filter: blur(4px);filter: blur(4px);}
.brightness {-webkit-filter: brightness(250%);filter: brightness(250%);}
.contrast {-webkit-filter: contrast(180%);filter: contrast(180%);}
.grayscale {-webkit-filter: grayscale(100%);filter: grayscale(100%);}
.huerotate {-webkit-filter: hue-rotate(180deg);filter: hue-rotate(180deg);}
.invert {-webkit-filter: invert(100%);filter: invert(100%);}
.opacity {-webkit-filter: opacity(50%);filter: opacity(50%);}
.saturate {-webkit-filter: saturate(7); filter: saturate(7);}
.sepia {-webkit-filter: sepia(100%);filter: sepia(100%);}
.shadow {-webkit-filter: drop-shadow(8px 8px 10px green);filter: drop-shadow(8px 8px 10px green);}